script(type="text/javascript")
	| academy.routes = {

	| "users_page": "#{pathTo.users_page()}",
	| "get_users": "#{pathTo.get_users()}",
	| "add_user": "#{pathTo.add_user()}",
	| "edit_user": "#{pathTo.edit_user()}",
	| "reset_user_password": "#{pathTo.reset_user_password()}",
	| "del_user": "#{pathTo.del_user()}",

	| "get_user_scores": "#{pathTo.get_user_scores()}",
	| "get_histories": "#{pathTo.get_histories()}",
	| "edit_user_section": "#{pathTo.edit_user_section()}",
	| "get_users_section_scores": "#{pathTo.get_users_section_scores()}",
	| "get_user_section": "#{pathTo.get_user_section()}",
	| "get_user_achievements": "#{pathTo.get_user_achievements()}",

	| "groups_page": "#{pathTo.groups_page()}",
	| "get_groups": "#{pathTo.get_groups()}",
	| "get_group": "#{pathTo.get_group()}",
	| "add_group": "#{pathTo.add_group()}",
	| "edit_group": "#{pathTo.edit_group()}",
	| "del_group": "#{pathTo.del_group()}",

	| "get_group_users": "#{pathTo.get_group_users()}",
	| "add_users_to_group": "#{pathTo.add_users_to_group()}",
	| "del_users_from_group": "#{pathTo.del_users_from_group()}",

	| "products_page": "#{pathTo.products_page()}",
	| "get_products": "#{pathTo.get_products()}",
	| "get_product_chapters": "#{pathTo.get_product_chapters()}",
	| "get_product_chapter_sections": "#{pathTo.get_product_chapter_sections()}",
	| "get_product_chapter_section": "#{pathTo.get_product_chapter_section()}",

	| //- page route; todo

	| "get_passports": "#{pathTo.get_passports()}",

	| "download_section": "#{pathTo.download_section()}",

	| "login_page": "#{pathTo.login_page()}"
	| };